
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 style="text-align:center;font-size:35px;color:red">Thanh Toán Thành Công!</h2>
<a style="text-align:center;font-size:25px;border:1px solid gray;background: cadetblue;text-decoration:none" href="~/Home/Index">Trở Lại Trang Chủ</a>

