@model IEnumerable<HotelConection.DANHG>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Đánh giá</title>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,300&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="/font/fontawesome-free-5.14.0-web/css/all.min.css" />
    <link rel="stylesheet" href="~/Asset/css/LienHe.css" />
    <link rel="stylesheet" href="~/Asset/base.css" />
</head>
<div class="grid">
    <div class="form">
        <div class="form__content">
            <p>
               Đánh giá của quý khách sẽ giúp chúng tôi nâng cao chất lượng của khách sạn!<br>
                cảm ơn quý khách đã đánh giá.
        </div>
        <div class="form__container">
            @if (User.Identity.IsAuthenticated)
            {
                using (Html.BeginForm("GuiDanhGia", "DanhGia", FormMethod.Post))
                {
            <div class="form__contact1">
                <p class="form__contact1--p">Tên của bạn:</p>

                <input type="text" name="HoTen" class="form__contact1--input">
                <p class="form__contact1--p">Điện thoại:</p>
                <input type="text" name="Sdt" class="form__contact1--input">
                <p class="form__contact1--p">Email:</p>
                <input type="text" name="Email" class="form__contact1--input">
                <p class="form__contact1--p">Nội dung Đánh giá:</p>
                <input type="text" name="NoiDung" class="form__contact1--input form__contact1--input-ND">
                <input type="hidden" name="NgayDanhGia" value="">
                <br><input onclick="danhgia()" class="wrap__layout--btn" type="submit" value="Gửi Đánh Giá">
            </div>
                }
            }
            else
            {
                     <h1  style = "color:red" > Vui lòng đăng nhập để Đánh giá</h1 >
                }
                @*<div class="form__contact2">
                <p class="form__contact2--p">Nếu có bất kỳ thắc mắc nào, vui lòng liên hệ với tư vấn viên TRIP theo</p>
                <div class="form__contact2--div">
                    <i class="fas fa-phone-alt"></i>
                    <p>093.5633219</p>
                </div>
                <div class="form__contact2--div">
                    <i class="far fa-envelope"></i>
                    <p>DTUHotel@gmail.com</p>
                </div>
            </div>*@
            </div>
    </div>
</div>

<script src="~/Asset/base.js"></script>
<script type="text/javascript">
    function danhgia() {
        alert("đánh giá thành công!");
    }
</script>

